.orders-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HEADER */
.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-header h2 {
  font-size: 22px;
  font-weight: 600;
}

.orders-header-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.orders-date {
  font-size: 14px;
  color: #666;
}

.orders-header input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.orders-header select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}


/* CARD */
.orders-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);
}

/* TABLE */
.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th {
  text-align: left;
  font-size: 14px;
  color: #666;
  padding-bottom: 12px;
}

.orders-table td {
  padding: 14px 0;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
}

/* STATUS */
.status {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
}

.status.pending {
  background: #fff4e5;
  color: #f59e0b;
}

.status.process {
  background: #e0f2fe;
  color: #0284c7;
}

.status.done {
  background: #dcfce7;
  color: #16a34a;
}

.status.cancel {
  background: #fee2e2;
  color: #dc2626;
}

/* BUTTON */
.detail-btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

/* PAGINATION */
.pagination {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
}

.pagination button.active {
  background: #111;
  color: #fff;
}
